* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    --primary-colour : #00CC99;
    --secondary-colour : #93DFB8;
    --text-colour : white;
}

.small-screen {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}