* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    --primary-colour : #3C5186;
    --text-colour : #FFF5DE;
    --secondary-colour :  #9B72AA;
}

.small-screen {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}